.square {
  background: #fff;
  border: 1px solid #999;
  border-radius: 10px;
  float: left;
  font-size: 44px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  padding: 0;
  text-align: center;
  width: 100px;
  color: #c0904b;
  background-color: #2f3f4c;
  margin: 5px;
  box-shadow: 0.2vw 0.4vh rgba(47, 63, 76, 0.5);
}
.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
