.Navigation {
  width: 100%;
  padding: 0 1%;
  background-color: #06607f !important;
  /* background-color: #0880a9 !important; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#navigationMenu {
  width: 70%;
}
#navigationSearch {
  padding-top: 2.5% 0;
}
#navigationSearch input {
  height: 1vh !important;
}
ul {
  width: 100%;
  margin: 0;
  list-style: none;
  overflow: hidden;
}
ul li a {
  text-decoration: none !important;
  color: #fff;
  padding: 1.5% 3%;
  float: left;
}
ul li a:hover {
  color: #fff !important;
  padding: 1.4% 3% 1.6% 3% !important;
  background-color: rgba(0, 0, 0, 0.2);
}
.search {
  margin: 1% 1% 0 0;
}
.searchbar {
  height: 5vh;
  font-size: 2vh;
}
