.Identity {
  width: 17%;
  margin: 1.6% 2.6% 0 0;
  float: right;
  padding: 2%;
}
.socialContainer {
  display: flex;
  justify-content: space-around;
}
.socialLogo {
  width: 3vw;
  height: 3vw;
}
