.Product {
  width: 50%;
  margin: 0 auto;
}
.crucialData {
  overflow: hidden;
  color: #000;
  text-align: left;
}
.crucialData > div {
  width: 20%;
  text-align: left;
  float: right;
}
.crucialData > div:first-of-type {
  width: 80%;
  float: left;
}
