body {
  margin: auto;
  width: 100vw;
  height: 100vh;
  font: 14px "Century Gothic", Futura, sans-serif;
  color: #c0904b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}
#notification {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(47, 63, 76, 0.9);
  visibility: hidden;
  transition: 1s;
  opacity: 0;
}
.message {
  border-radius: 10px;
  position: absolute;
  top: 29vh;
  left: 33vw;
  width: 30vw;
  height: 34vh;
  background-color: #c0904b;
  display: flex;
  flex-direction: column;
  padding: 4vh 2vw;
}
.header {
  height: 4vh;
  display: flex;
  justify-content: flex-end;
}
.header img {
  height: 4vh;
}
#content {
  height: 30vh;
  color: #2f3f4c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  width: 63vw;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.game-info {
  margin-left: 20px;
}

button {
  border: 1px solid #2f3f4c;
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px 32px 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #c0904b;
  color: #2f3f4c;
  box-shadow: 0.2vw 0.4vh rgba(47, 63, 76, 0.5);
}
button > img {
  height: 12px;
  margin-right: 5px;
}
.playerPrompt {
  background-color: #2f3f4c;
  height: 30vh;
  width: 20vw;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.playerPrompt input {
  border: 0;
  border-radius: 5px;
  height: 5vh;
  padding: 0 1vw;
}
