.Articles {
  width: 100%;
  padding: 1%;
  text-align: center;
  overflow: hidden;
  /* display: flex;
  flex-flow: row wrap;
  align-items: stretch; */
}
#banner {
  width: 100%;
  overflow: hidden;
}
